.main {


  &__calc {
    @include flex(flex-start, center, column, 1.5rem);
    // display: flex;
    // flex-direction: column;
    // gap: 1.5rem;
    width: 100%;
    max-width: 1200px;

    @media (min-width: 700px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 3rem;
    }
  }

  &__info {
    width: 100%;

  }
}

