.main {


  &__calc {
    @include flex(flex-start, center, column, 1.5rem);
    // display: flex;
    // flex-direction: column;
    // gap: 1.5rem;
    width: 100%;
    max-width: 1200px;

    @media (min-width: 700px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__form {
    width: 100%;

    @media (min-width: 700px) {
      width: 65%;
    }
  }

  &__info {
    width: 100%;

  }
}

.info__tooltip {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 15px;
  height: 15px;
  padding: .3em;
  background-color: $grey-clr;
  border-radius: 50px;
  color: white;
  font-size: .5rem;
  font-style: italic;
  @include flex-center();
  opacity: 0.95;
}

.info:hover .info__content {
  visibility: visible;
}


.info__content {
  display: inline-block;
  visibility: visible;
  position: absolute;
  width: calc(min(250px, 85vw));
  top: 0px;
  right: 25px;
  border: 1px solid $grey-clr;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 0.5em;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    top: 7px; /* At the bottom of the tooltip */
    right: 0px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent $grey-clr transparent transparent;
  }
}