@mixin fixed() {
  position: fixed;
  left: 50%;
  min-width: fit-content;  
  padding: 0.2rem 0.3rem;
  color: $light-clr;
  background-color: $dark-clr;
  font-size: 0.6rem;
  white-space: nowrap;
  
  transform: translateX(-50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}